
.bold {
    margin-right: 2cm;
    margin-left: 1cm;
  font-weight: 700;
}
.underline{
   text-decoration: underline;

}
.italic{
    
  font-style: italic;
}
.taille{
    margin-right: 1cm;
    margin-left: 1cm;

}
.head {
    margin-left:31%;
    margin-top: 10%;
    

}
.body{
    margin-left: 30%;
    

}
.selectBox{
    color: whitesmoke;
    background-color: grey;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
}


li {
    float: left;
}

li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: lightgray;
}
.selectBox{
margin-left: 20px;
width: 220px;
margin-top: 10px;
height: 20px;

}

